/* 
.inicio{
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
}
*/

.inicio{
    display: flex;
    flex-direction: column;
}

.header-container-i{
    background-image: url(../img/background-inicio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 205,5vh;
    height: 70vw;
}

.header-container-i button {
    color: #fdb02b;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    justify-content: center;
    background-color: black;
    height: 50px;
    width: 180px;
    text-decoration: none;
    font-size: 20px;
}

.header-container-i button:hover {
    background-color:#7c1313;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.text-conteiner-i{
    display: block;
    height: 3em;
    text-align: right;
    margin-top: 100px;
    margin-right: 50px;
    padding: 10px;
}

.text-conteiner-i h1{
    margin: 10px;
    font-size: 65px;
}


.text-conteiner-i p{
    margin: 10px;
    font-size: 20px;
}

