/* 
.inicio{
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
}
*/

.inicio{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.inicio-container-i{
    background-image: url(../img/background-inicio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 205,5vh;
    height: 70vw;
    font-size: 1em;
}

.inicio-container-i button {
    color: #fdb02b;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    justify-content: center;
    background-color: black;
    height: 3em;
    width: 10em;
    text-decoration: none;
    font-size: 1em;
}

.inicio-container-i button:hover {
    background-color:#7c1313;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.text-conteiner-i{
    display: block;
    text-align: right;
    margin-top: 7em;
    margin-right: 3em;
    padding: 0.700px;
    font-size: 1em;
}

.text-conteiner-i h1{
    font-size: 4.063em;
}

.text-conteiner-i p{
    margin: 0.5em;
    font-size: 1.3em;
}

@media  (max-width: 600px) {
    .inicio {
        font-size: 12px;
    }

}
