
.banner-top{
    display: flex;
    flex-direction: column;
    background-image: url(../img/background-cake-banner-top.jpg);
    height: 38vh;
    width: 100vw;
}

.title-banner{
    display: block;
    height: 3em;
    text-align: right;
    margin-top: 90px;
    margin-right: 50px;
    font-size: 30px;
    color: rgb(109, 39, 6);
}
